<component name="ArtifactManager">
  <artifact type="war" name="spring_boot:war">
    <output-path>$PROJECT_DIR$/spring_boot/target</output-path>
    <root id="archive" name="spring_boot.war">
      <element id="artifact" artifact-name="spring_boot:war exploded" />
    </root>
  </artifact>
</component>