<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ShopAddressMapper" >
  <resultMap id="BaseResultMap" type="com.po.ShopAddress" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="accept" property="accept" jdbcType="VARCHAR" />
    <result column="zip" property="zip" jdbcType="CHAR" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="isdefault" property="isdefault" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, accept, zip, phone_num, mobile, province, city, area, address, isdefault
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shop_address
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shop_address
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.po.ShopAddress" >
    insert into shop_address (id, user_id, accept, 
      zip, phone_num, mobile, province, 
      city, area, address, 
      isdefault)
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{accept,jdbcType=VARCHAR}, 
      #{zip,jdbcType=CHAR}, #{phoneNum,jdbcType=VARCHAR}, #{mobile,jdbcType=CHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{isdefault,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.po.ShopAddress" >
    insert into shop_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="accept != null" >
        accept,
      </if>
      <if test="zip != null" >
        zip,
      </if>
      <if test="phoneNum != null" >
        phone_num,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="isdefault != null" >
        isdefault,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="accept != null" >
        #{accept,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=CHAR},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.po.ShopAddress" >
    update shop_address
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="accept != null" >
        accept = #{accept,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        zip = #{zip,jdbcType=CHAR},
      </if>
      <if test="phoneNum != null" >
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null" >
        isdefault = #{isdefault,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.po.ShopAddress" >
    update shop_address
    set user_id = #{userId,jdbcType=CHAR},
      accept = #{accept,jdbcType=VARCHAR},
      zip = #{zip,jdbcType=CHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=CHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      isdefault = #{isdefault,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>